<header>
	
	<h1> EMAIL INDEX </h1>

</header>


<table>
<tbody>
<tr class="titres"> <!-- TITRES COLONNES  -->
	<td>LISTE</td>
	<td>CONTENU</td>
</tr>

<tr class="object"> <!-- #1 OBJET -->
	<td><a href="#">
	<% @emails.each do |email| %>
	     <p><%= email.object %></p>
	     <% end %></td></a>

	<td class="content"> <!-- #2 CONTENU -->
	     <% @emails.each do |email| %>
	     <p><%= email.object %> : <%= email.body %>
	     <button type="submit" value="submit"> 	
		 <%= link_to "X", @email, method: :delete %></button>
        <% end %></p></td>
</tr>

</tbody>
</table>






